<?xml version="1.0"?>
<file id="env_mach_specific.xml" version="2.0">
  <header>
    These variables control the machine dependent environment including
    the paths to compilers and libraries external to cime such as netcdf,
    environment variables for use in the running job should also be set	here.
    </header>
  <group id="compliant_values">
    <entry id="run_exe" value=" -n GCM_pcount ${EXEROOT}/cesm.exe : -n CRM_pcount ${EXEROOT}/crm.exe">
      <type>char</type>
      <desc>executable name</desc>
    </entry>
    <entry id="run_misc_suffix" value=" &gt;&gt; cesm.log.$LID 2&gt;&amp;1 ">
      <type>char</type>
      <desc>redirect for job output</desc>
    </entry>
  </group>
  <module_system type="module">
    <init_path lang="perl">/opt/apps/lmod/lmod/init/perl</init_path>
    <init_path lang="python">/opt/apps/lmod/lmod/init/python</init_path>
    <init_path lang="sh">/opt/apps/lmod/lmod/init/sh</init_path>
    <init_path lang="csh">/opt/apps/lmod/lmod/init/csh</init_path>
    <cmd_path lang="perl">/opt/apps/lmod/lmod/libexec/lmod perl</cmd_path>
    <cmd_path lang="python">/opt/apps/lmod/lmod/libexec/lmod python</cmd_path>
    <cmd_path lang="sh">module -q</cmd_path>
    <cmd_path lang="csh">module -q</cmd_path>
    <modules>
      <command name="purge"/>
    </modules>
    <modules compiler="intel">
      <command name="load">intel</command>
    </modules>
    <modules compiler="gnu">
      <command name="load">gcc</command>
    </modules>
    <modules mpilib="impi">
      <command name="load">impi</command>
    </modules>
    <modules mpilib="mpi-serial">
      <command name="load">hdf5</command>
      <command name="load">netcdf</command>
    </modules>
    <modules mpilib="!mpi-serial">
      <command name="load">phdf5</command>
      <command name="load">parallel-netcdf</command>
      <command name="load">pnetcdf</command>
    </modules>
    <modules>
      <command name="load">git</command>
      <command name="load">cmake</command>
      <command name="load">autotools</command>
      <command name="load">xalt</command>
    </modules>
  </module_system>
  <environment_variables>
    <env name="OMP_STACKSIZE">128M</env>
  </environment_variables>
  <mpirun mpilib="default">
    <executable>ibrun</executable>
  </mpirun>
</file>
